body{
    background: rgb(73, 149, 184);
}
img {
    height: 500px;
    border-radius: 20px;
}
p {
    font-style: oblique;
    font-size: 24px;
    text-shadow: green 2px 5px;
    text-align: center;
}

span {
    font-weight: bold;
}

.wiki_image{
    height: 100px;
    width: 100px;
}

